/* .home-background-image{
    background: url('../assests/homebackground.svg') no-repeat;
    width: 1232px;
    height: 713px;
    background-size: cover;
    left: -2px;
    border-radius: 15px;
    object-fit: cover;
} */

.home-jazzy-image{
    /* width: 390px; */
    /* height: 1050px; */
    /* margin: auto; */
}

.jazzy-image{
    /* width: 100%; */
    /* width: 370px; */
    /* height: 1050px; */
}

.home-burger-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-column-gap: 10px; */

    gap: 10px;
    /* width: 370px; */
}

@media screen and (max-width: 575px) {
.home-burger-container {
    grid-template-columns: 1fr;
    
}

.home-fetched-data{
    width: 350px;
    margin: auto;
    /* height: 490px; */
    /* margin: auto; */
}

.fetched-image{
    /* width: 334px; */
    /* height: 248px; */
}
}

@media screen and (max-width: 768px) {
    .home-fetched-data{
        /* width: 150px; */
    }
    .jazzy-image{
        /* width: 120px; */
    }
    .home-burger-container{
        /* width: 200px; */
    }
    .home-jazzy-image{
        width: 200px;
    }
    .food-images{
        width: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .home-fetched-data{
        width: 200px;
    }
    .food-item-image{
        width: 42px;
    }
    .add-button{
        width: 188px;
        margin: auto;
    }
}

.to-top-image{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    font-size: 50px;
    background-color: white;
}

/* fetched data styles */

.home-fetched-data{
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    /* width: 240px; */
    /* height: 480px; */
    background: rgba(255, 255, 255, 0.96);
    /* margin: auto; */
}

.home-fetched-image{
    /* width: 242px; */
    /* height: 230px; */
    border-radius: 10px;
    /* margin: auto; */
}

.fetched-image{
    /* width: 244px; */
    /* height: 230px; */
    /* margin: auto; */
}

/* button styles */
.add-button{
    width: 224.87px;
    /* height: 43px; */
    /* top: 440px; */
    /* left: 550px; */
    background: #F31D1D;
    border-radius: 10px;
}

/* like button */
.heart-container{
    position: relative;
}

.heart-body{
    position: absolute;
    top: 0;
}

.heart-icon{
    position: absolute;
    bottom: 23.1rem;
    right: 0.72rem;
    z-index: 2;
}

.heart-circle{
    position: absolute;
    /* bottom: 22.8rem; */
    /* right: 0.4rem; */
    top: 0;
    right: 0;
    z-index: 1;
    /* background-color: blue; */
}

.home-container{
    position: relative;
}

/* .red-heart-icon{

} */

/* @media screen and (max-width: 575px) {
    .home-background-image{
        width: 600.67px;
        background-size: cover;
        height: 300px;
    }
} */